@win-color: #070;
@loss-color: #700;
@mask-text-background: #f5f5f5;

// probably gets overwritten by Wiki sheets but :'
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hide { display: none }

// mask colours
.loading { background-color: fade(#fff, 30%); }
.lost { background-color: fade(@loss-color, 30%); }
.won { background-color: fade(@win-color, 30%); }

.lost, .won {
  .path {
    background-color: @mask-text-background;
    opacity: 0.9;
    h3 {
      margin-left: 3.2em;
    }
  }
}

#main-head {
  height: 50px;
  background: #fff;

  h1 { // target title usually
    padding-left: .5em;
  }
}

#target-hint {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

#join { display: none }
.invited {
  #join { display: block }
  #pair { display: none }
}
#game-link {
  position: absolute;
  height: 70px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -150px;
  background: #fff;
  border: 1px solid #333;
  z-index: 10231032153;
  box-sizing: border-box;
  padding: 10px;

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
  }
}

// left & right areas for player & opponent
.wb-player {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 50%;
  box-sizing: border-box;

  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}
#backlinks {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 50%;
  box-sizing: border-box;
}

.wb-fill {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.wb-article:extend(.wb-fill) {
  padding: 0 5px;
  overflow-y: scroll;
}

.wb-mask:extend(.wb-fill) {
  overflow-y: auto;
}

#backlinks {
  right: 0;
  background: @mask-text-background;
  opacity: 0.9;
  width: 350px;
}

#show-backlinks {
  position: absolute;
  right: 0;
  top: 50px;
  padding: 3px;
  background: #fff;
  cursor: pointer;
  z-index: 1;
}

// area masks
#left-mask, #right-mask, #click-mask {
  position: absolute;
  top: 50px; bottom: 0;
  width: 50%;
  display: none;
  &.loading, &.lost, &.won {
    display: block;
  }
}
#left-mask { left: 0 }
#right-mask { right: 0 }
// this one always exists so the player's pointer never actually :hovers the opponent area
#click-mask { right: 0; display: block }
